* {
  box-sizing: border-box;
}

/* anything that has a focus will have its outline removed */
*:hover {
  outline: none;
}

:root {
  --fb-blue: #0a86f0;
  --fb-black: #090909;
  --fb-red: #ee2340;
  --fb-green: #3db557;
  --fb-yellow: #f6b024;
  --fb-bgcolor: #eef0f3;
  --fb-white: #ffffff;
  --fb-whitebg: #ffffff;
  --dark-color-text: #090909;
  --light-color-text: #606770;
  --button-link: #e0e2e8;
  --stories-bg: #090909;
  --icon-circle-bg: linear-gradient(
    0deg,
    rgba(65, 67, 69, 1) 0%,
    rgba(107, 110, 114, 1) 100%
  );
  --shadow-color: rgba(0, 0, 0, 0.25);
}

body {
  background-color: var(--fb-bgcolor);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--fb-black);
}

header {
  background-color: var(--fb-whitebg);
  height: 62px;
  display: flex;
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 0px 5px 0px var(--shadow-color);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}

.header__logo-section {
  display: flex;
}

.header__logo-icon .fa-facebook {
  font-size: 40px;
  color: var(--fb-blue);
}

.header__logo-search {
  position: relative;
  margin-left: 10px;
}

.header__logo-search .fa-search {
  position: absolute;
  top: 13px;
  left: 10px;
  color: var(--light-color-text);
}

.header__logo-search input[type="text"] {
  background-color: var(--fb-bgcolor);
  padding: 10px;
  border-radius: 25px;
  font-size: 1.2rem;
  color: var(--light-color-text);
  padding-left: 35px;
  font-weight: 300;
  border: none;
}

.header__menu-tabs {
  display: flex;
  max-width: 600px;
  width: 100%;
  /* prevents growing and shrinking */
  flex: none;
}

.header__menu-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 62px;
  border-bottom: 4px solid var(--fb-whitebg);
  color: var(--light-color-text);
  cursor: pointer;
  font-size: 1.3rem;
}

.header__menu-tab--active,
.header__menu-tab:hover {
  border-bottom: 4px solid var(--fb-blue);
}

.header__menu-tab:hover .fas,
.header__menu-tab:hover .fab {
  color: var(--fb-blue);
}

.header__menu-tab--active .fas,
.header__menu-tab--active .fab {
  color: var(--fb-blue);
}

.header__menu-tab .fas,
.header__menu-tab .fab {
  position: relative;
}

.header__notification-bubble {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: var(--fb-red);
  color: white;
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -10px;
}

.header__account {
  display: flex;
}

.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__user-img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 10px;
}

.header__user-name {
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 20px;
}

.header__circle-link {
  background-color: var(--button-link);
  height: 40px;
  width: 40px;
  display: flex;
  border-radius: 50%;
  color: var(--dark-color-text);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
}

.header__circle-link .fa-sort-down {
  position: relative;
  top: -3px;
  font-size: 1.4rem;
}

.header__link-icon {
  font-size: 0.9rem;
  position: relative;
}

.header__link-icon .header__notification-bubble {
  top: -18px;
  right: -18px;
}

.content-area--feed {
  padding: 90px 15px 20px;
  display: flex;
}

.sidenav {
  width: 25%;
}

.sidenav__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.sidenav__item-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
}

.sidenav__item-title {
  font-size: 1rem;
  font-weight: 400;
}

.sidenav__item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-right: 20px;
}

.sidenav__item-notification {
  color: var(--fb-blue);
  margin-top: 5px;
  font-size: 0.75rem;
  font-weight: 300;
  display: block;
}

.sidenav__item-notification-circle {
  background-color: var(--fb-blue);
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 5px;
}

.sidenav__item-icon--circle {
  background-color: var(--button-link);
  border-radius: 50%;
  font-size: 0.9rem;
}

.sidenav__item-icon--circle-white {
  background: var(--icon-circle-bg);
  border-radius: 50%;
  font-size: 1rem;
  width: 40px;
  height: 40px;
}

.sidenav__item-icon .fas,
.sidenav__item-icon .fab {
  color: var(--fb-blue);
}

.sidenav__item-icon--circle .fas,
.sidenav__item-icon--circle .fab {
  color: var(--fb-black);
}

.sidenav__item-icon--circle-white .fas,
.sidenav__item-icon--circle-white .fab {
  color: var(--fb-whitebg);
}

.hline {
  height: 1px;
  background-color: var(--button-link);
  margin: 15px 0px;
}

.sidenav__heading-title {
  display: block;
  color: var(--light-color-text);
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.feed {
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stories {
  display: flex;
  max-width: 700px;
  width: 100%;
  margin-bottom: 20px;
}

.stories__video-container {
  overflow: hidden;
  width: 120px;
  height: 200px;
  border-radius: 5px;
  background-color: var(--stories-bg);
  position: relative;
  box-shadow: 0px 1px 2px 0px var(--fb-black);
  margin-right: 10px;
  cursor: pointer;
}

.stories__video-container:nth-last-child(1) {
  margin-right: 0px;
}

.stories__background {
  object-fit: cover;
  object-position: center;
  width: 120px;
  height: 200px;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

.stories__video-container:hover .stories__background {
  opacity: 0.8;
}

.stories__title {
  position: absolute;
  bottom: 0;
  background-color: var(--fb-whitebg);
  width: 100%;
  color: var(--fb-black);
  padding: 20px 20px 10px;
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
}

.stories__new-btn {
  background-color: var(--fb-blue);
  width: 40px;
  height: 40px;
  color: var(--fb-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid var(--fb-white);
  position: absolute;
  top: -20px;
  left: 35px;
}

.stories__video-container--plain .stories__title {
  background: transparent;
  color: var(--fb-white);
}

.stories__user {
  border: 4px solid var(--fb-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -115px;
  left: 10px;
}

.feed__box {
  padding: 20px;
  background-color: var(--fb-whitebg);
  max-width: 700px;
  width: 100%;
  flex: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px var(--shadow-color);
  margin-bottom: 20px;
}

.newpost {
  display: flex;
  margin-bottom: 10px;
}

.newpost__user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.newpost input[type="text"] {
  background-color: var(--fb-bgcolor);
  padding: 10px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  color: var(--light-color-text);
  padding-left: 20px;
  font-weight: 300;
  width: 100%;
}

.post-types {
  display: flex;
  justify-content: space-around;
}

.post-types__item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  width: 100%;
}

.post-types__item .fas,
.post-types__item .far {
  margin: 10px;
  font-size: 1.5rem;
}

.post-types__item .fa-video {
  color: var(--fb-red);
}

.post-types__item .fa-photo-video {
  color: var(--fb-green);
}

.post-types__item .fa-laugh-beam {
  color: var(--fb-yellow);
}

.photopost {
  padding: 0px 0px 20px;
}

.photopost__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 5px;
}

.photopost__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photopost__left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
}

.photopost__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photopost__name {
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 400;
}

.photopost__date {
  font-size: 0.7rem;
  color: var(--light-color-text);
}

.photopost__info .fa-ellipsis-h {
  color: var(--light-color-text);
}

.photopost__description {
  padding: 0px 10px;
  margin-bottom: 10px;
}

.photopost__img img {
  width: 100%;
}

.photopost__stats {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: var(--light-color-text);
  font-weight: 300;
  font-size: 0.9rem;
}

.photopost__stats-emojis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-circle {
  display: flex;
  width: 22px;
  height: 22px;
  background-color: var(--fb-black);
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  border-radius: 50%;
  border: 2px solid var(--fb-white);
  position: relative;
}

.emoji-circle:nth-child(1) {
  z-index: 3;
}
.emoji-circle:nth-child(2) {
  left: -5px;
  z-index: 2;
}
.emoji-circle:nth-child(3) {
  border: none;
  left: -10px;
  z-index: 1;
}

.emoji-circle--blue {
  background: linear-gradient(
    0deg,
    rgba(4, 60, 108, 1) 0%,
    rgba(10, 134, 240, 1) 100%
  );
}

.emoji-circle--red {
  background: linear-gradient(
    0deg,
    rgba(92, 15, 26, 1) 0%,
    rgba(238, 35, 64, 1) 100%
  );
}

.emoji-circle--yellow {
  background-color: var(--fb-black);
  height: 18px;
  width: 18px;
}

.emoji-circle--blue .fa-thumbs-up {
  position: relative;
  top: -1px;
}

.emoji-circle--yellow .fa-surprise {
  color: rgba(246, 176, 36, 1);
  font-size: 20px;
  position: relative;
}

.photopost .hline {
  margin: 0px 0px 15px;
}

.photopost__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.photopost__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color-text);
  width: 100%;
  text-decoration: none;
}

.photopost__link .fas {
  margin-right: 10px;
}

.floatingmsg {
  position: fixed;
  bottom: 0;
  right: 20px;
}

.floatingmsg__bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 0px var(--shadow-color);
  background-color: var(--button-link);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.floatingmsg__bubble img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.floatingmsg__bubble:hover .fa-edit {
  color: var(--fb-blue);
}

.floatingmsg__notification {
  background-color: var(--fb-red);
  color: var(--fb-white);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  font-weight: 700;
  z-index: 3;
}

.sidenav__page {
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px;
  color: var(--light-color-text);
}

.sidenav__page .far,
.sidenav__page .fas {
  margin-right: 5px;
}

.sidenav__heading-info {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: var(--light-color-text);
}

.sidenav__heading-title--margin {
  margin-bottom: 0px;
}

.sidenav__heading-info a {
  text-decoration: none;
}

.friendrequest {
  display: flex;
  justify-content: space-between;
  color: var(--light-color-text);
  position: relative;
  margin-top: 10px;
}

.friendrequest img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px 10px 10px 0px;
}

.friendrequest__name {
  color: var(--fb-black);
  margin-bottom: 5px;
  font-weight: 600;
}

.friendrequest__info {
  display: flex;
  justify-content: flex-start;
}

.friendrequest__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.friendrequest__date {
  position: absolute;
  right: 0;
  top: 5px;
}

.friendrequest__btns {
  display: flex;
  margin-top: 5px;
}

.friendrequest__btn {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-right: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.friendrequest__btn:nth-child(1) {
  background-color: var(--fb-blue);
  color: var(--fb-white);
}

.friendrequest__btn:nth-child(2) {
  background-color: var(--button-link);
  color: var(--fb-black);
}

.birthday__user {
  display: flex;
  align-items: center;
}

.birthday__user--gift {
  font-size: 1.9rem;
  margin-right: 15px;
  color: var(--fb-blue);
}

.sidenav__contacts--icons {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--light-color-text);
}

.contact {
  position: relative;
  margin-top: 15px;
}

.contact__activity-dot {
  height: 15px;
  width: 15px;
  background-color: var(--fb-green);
  border: 3px solid var(--fb-bgcolor);
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 25px;
}

.yourpages__heading {
  margin-bottom: 15px;
}

strong {
  font-weight: 600;
}